.main {
    border: 2px solid #000000;
    max-width: 1500px;
    max-height: 800px;
    display: inline-block;
    overflow: auto;
    border-radius: 15px;
}


.squad {
    width: 300px;
    height: 200px;
    background: #9a754f;
    border-radius: 15px;
    display: inline-block;
    padding: 25px 10px 15px;
    margin: 10px 10px 15px 5px;
    box-shadow: inset -2px -2px 19px 0px #4b4b4b;
}

.squad-2 {
    width: 300px;
    height: 200px;
    background: #9a754f;
    border-radius: 15px;
    display: inline-block;
    padding: 25px 10px 15px;
    margin: 10px 10px 15px 5px;
    box-shadow: inset -2px -2px 19px 0px #4b4b4b;
}

.squad-3 {
    width: 300px;
    height: 200px;
    background: #9a754f;
    border-radius: 15px;
    display: inline-block;
    padding: 25px 10px 15px;
    margin: 10px 10px 15px 5px;
    box-shadow: inset -2px -2px 19px 0px #4b4b4b;
   
}

.squad-4 {
    width: 300px;
    height: 200px;
    background: #9a754f;
    border-radius: 15px;
    display: inline-block;
    padding: 25px 10px 15px;
    margin: 10px 10px 15px 5px;
    box-shadow: inset -2px -2px 19px 0px #4b4b4b;
}

.squad-5 {
    width: 300px;
    height: 200px;
    background: #9a754f;
    border-radius: 15px;
    display: inline-block;
    padding: 25px 10px 15px;
    margin: 10px 10px 15px 5px;
    box-shadow: inset -2px -2px 19px 0px #4b4b4b;
}

.squad-6 {
    width: 300px;
    height: 200px;
    background: #9a754f;
    border-radius: 15px;
    display: inline-block;
    padding: 25px 10px 15px;
    margin: 10px 10px 15px 5px;
    box-shadow: inset -2px -2px 19px 0px #4b4b4b;
}

.squad-7 {
    width: 300px;
    height: 200px;
    background: #9a754f;
    border-radius: 15px;
    display: inline-block;
    padding: 25px 10px 15px;
    margin: 10px 10px 15px 5px;
    box-shadow: inset -2px -2px 19px 0px #4b4b4b;
}

.squad-8 {
    width: 300px;
    height: 200px;
    background: #9a754f;
    border-radius: 15px;
    display: inline-block;
    padding: 25px 10px 15px;
    margin: 10px 10px 15px 5px;
    box-shadow: inset -2px -2px 19px 0px #4b4b4b;
}

.squad-9 {
    width: 300px;
    height: 200px;
    background: #9a754f;
    border-radius: 15px;
    display: inline-block;
    padding: 25px 10px 15px;
    margin: 10px 10px 15px 5px;
    box-shadow: inset -2px -2px 19px 0px #4b4b4b;
}

.squad-10 {
    width: 300px;
    height: 200px;
    background: #9a754f;
    border-radius: 15px;
    display: inline-block;
    padding: 25px 10px 15px;
    margin: 10px 10px 15px 5px;
    box-shadow: inset -2px -2px 19px 0px #4b4b4b;
}

.squad-11 {
    width: 300px;
    height: 200px;
    background: #9a754f;
    border-radius: 15px;
    display: inline-block;
    padding: 25px 10px 15px;
    margin: 10px 10px 15px 5px;
    box-shadow: inset -2px -2px 19px 0px #4b4b4b;
}   
